@media screen and (min-width: 998px) {
    .header {
        margin: 0% 19%;
    }

    .nav-bar {
        margin-left: 14%;
    }

    .container {
        max-width: 1200px;
    }

    html {
        font-size: 0.68rem;
    }

    .container {
        margin: 0 auto;
    }

    .title-nav-container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .header-content {
            flex-direction: column;
            align-items: start;
            gap: 2rem;

            .title {
                flex-grow: 1;
            }

            .nav-bar {
                flex-direction: row;
                gap: 2rem
            }
            flex-grow: 2;
            flex-direction: row;
            justify-content: start;
            align-items: center;

            nav {
                flex-grow: 5;

                ul {
                    justify-content: space-evenly;
                }
            }
        }
    }
}