* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green: #C0F6D4;
    --navy: #354562;
}

html {
    font-size: 0.6rem;
}

a,
p,
li {
    line-height: 1.2;
    font-size: 1.4rem;
    list-style: none;
}

a {
    font-family: 'komet';
    color: inherit;
}

button {
    border: none;
}

.title {
    color: var(--navy);
    font-weight: bold;
    text-decoration: none;
}


.title {
    font-size: 2.7rem;
}

.padder {
    padding: 3rem;
}

.pre-line {
    white-space: pre-line;
}

.green-button {
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 5rem;
    background-color: var(--green);
    color: var(--navy);
    font-weight: bold;
}

.navy-blue-button {
    font-size: 1.8rem;
    background-color: var(--navy);
    color: var(--green);
    font-weight: bold;
    border-radius: 20rem;
}

.title-nav-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav ul {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            li a {
                font-size: 1.8rem;

            }
        }
    }
}

.heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.theme-white {
    background-color: white;
    color: var(--navy);
}

.theme-shady-green {
    background-color: var(--green);
    color: var(--navy);
}

.navy-blue-card-title,
.white-card-title {
    width: fit-content;
    text-align: center;
    padding: 1.8rem 5rem;
    letter-spacing: 0.2rem;
}

.white-card-title {
    padding: 1rem 1rem 1.2rem 1rem;
    background-color: white;
    color: var(--navy);
    font-size: 1.8rem;

}

.navy-blue-card-title {
    background-color: var(--navy);
    color: white;
    font-size: 1.8rem;

}

.translate-up {
    transform: translateY(-50%);
}

.translate-down {
    transform: translateY(50%);
}